@import url(./main.css);

body.white-mode--var {
  --dark-gray: #dedee0 !important;
  --pure-black: #fff !important;
  --pure-white: #000 !important;
  --near-white: #050505 !important;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.copy-popup {
  position: fixed;
  background-color: var(--gray-600);
  color: var(--pure-black);
  visibility: hidden;
  z-index: 199000;
  cursor: default;
  font-size: 0.85rem;
  padding: 2px 8px;
  border-radius: 3px;
}

.cursor {
  z-index: 1000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  transform: scale(1);
  transform-origin: center;
  background-color: white;
  mix-blend-mode: difference;
  overflow: hidden;
  pointer-events: none;
}

.button-ripple-hover {
  overflow: hidden;
  position: relative;
}

/* HERO */

.hero {
  height: 100vh;
  color: var(--near-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.hero__introtitle {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.hero__titlewrapper {
  max-width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hero__maintitle {
  font-size: 3rem;
  font-weight: 600;
}

.hero__subtitle {
  font-size: 1.25rem;
}

.scrollcta {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  animation: hero-arrow 4s infinite;
}

.scrollcta__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--near-white);
}

/* hero arrow animation */
@keyframes hero-arrow {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(0.5rem);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}


/* REALISATIONS */

.section-realisation {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background: var(--dark-gray, #0D0D0D);
}

.realisation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  width: 100%;
}

.realisation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.realisation-item .realisation-title {
  color: var(--gray, #343434);
  font-size: 3rem;
  font-weight: 500;
}

.realisation-item:first-child .realisation-title {
  color: var(--pure-white);
}

.realisation-tag-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.realisation-item .realisation-tag-item {
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.625rem;
  border: 1px solid var(--gray, #343434);
  color: var(--gray, #343434);
}

.realisation-item:first-child .realisation-tag-item {
  color: var(--pure-white);
  border: 1px solid var(--pure-white);
}


/* COMPETENCES */

.section-competence {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.competence-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.competence-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.competence-title {
  color: var(--pure-white);
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  width: 300px;
  transition: var(--medium-transition);
}

.competence-slash {
  transform: translateY(100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.competence-title-content {
  min-width: max-content;
  word-wrap: normal;
  transform: translateX(-100%);
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.reset-transform {
  transform: translate(0%, 0%) !important;
  transition-delay: 0.2s;
}

.reset-transform--delay {
  transform: translate(0%, 0%) !important;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  transition-delay: 0.7s;
}

.competence-text {
  color: var(--pure-white);
  font-size: 1.25rem;
  max-width: 50ch;
}

.competence-image {
  width: 70vh;
  height: 70vh;
  aspect-ratio: 1 / 1;
}

/* CONTACT */
.section-contact {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.contact-form-item {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.contact-form-number {
  color: var(--gray);
  font-size: 1.25rem;
  font-weight: 500;
  transition: var(--fast-transition);
}

.contact-form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.contact-form-label {
  color: var(--pure-white);
  font-size: 1.25rem;
  font-weight: 500;
}

.contact-form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  color: var(--pure-white);
  font-size: 0.875rem;
  font-weight: 500;
  width: 300px;
  padding: 0 0 0.5rem 0;
  transition: var(--fast-transition);
  resize: none;
}

.contact-form-input::placeholder {
  color: var(--gray, #343434);
  font-family: General Sans;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 1;
}

.contact-form-input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--gray, #343434);
  font-family: General Sans;
  font-size: 0.875rem;
  font-weight: 500;
}

.contact-form-input:focus {
  outline: none;
  border-bottom: 1px solid var(--pure-white);
  transition: var(--fast-transition);
}

.contact-form-number--active {
  color: var(--pure-white);
  transition: var(--fast-transition);
}

.contact-form-input--submit {
  outline: none;
  background: none;
  color: var(--pure-white);
  cursor: pointer;
  transition: var(--medium-transition);
}

.contact-form-input--submit:hover {
  outline: none;
  background: none;
  color: var(--gray-500);
  cursor: pointer;
}


/* SOCIAL */
.social-item {
  display: flex;
  padding: 2rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  color: var(--gray-600, #D0D0D2);
  font-size: 1.5rem;
  /* border: solid 1px var(--gray-300); */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.social-item:hover .social-item--hover {
  top: 0%;
}

.social-item--hover {
  position: absolute;
  left: 0;
  top: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
  background-color: var(--near-black);
  transition: var(--medium-transition);

}

.social-item-content {
  display: flex;
  align-items: center;
  animation: 3s slide infinite linear;
  gap: 1rem;
  width: fit-content;
  text-wrap: nowrap;
  padding-left: 2rem;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* FOOTER */
.section-footer {
  display: flex;
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-200, #111113);
  background: var(--near-black, #050505);
}

.footer-left-container {
  color: var(--gray-600, #D0D0D2);
  font-size: 0.875rem;
}

.footer-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-600, #D0D0D2);
}

.footer-social-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}